<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="my-header">
    <template>
        <style>
            :host {
                display: block
            }
        </style>
        ss
        <slot></slot>

    </template>

    <script>
      
        class myHeader extends Polymer.Element {
          
            static get is() {
                return 'my-header';
            }

            static get properties() {
                return {
                    
                };
            }
        }

        window.customElements.define(myHeader.is, myHeader);
    </script>
</dom-module>